/* 標籤名稱選擇器 */
/* body{
    background: rgba(0, 128, 0, 0.1) 
}  */
.firsttitle{
    /* margin-top:25px;
    margin-bottom:25px;  */
    font-weight:bold;
    font-size:30px;
    text-align:center;
    color:white;
    background-color:rgb(60, 60, 60);
}
.list{
    display:flex;
}
.secondtitle{
    flex: 1; /* 文字區塊佔用可用空間 */
    margin-bottom:5px; 
    font-weight:bold;
    font-size:20px;
    color:white;
    background-color:rgb(60, 60, 60);
}
.image-block img {
    margin-top:20px;
    max-width: 100%; /* 讓圖片的最大寬度為其容器的100% */
    height: 320px; /* 自動調整高度以保持比例 */
    width: 250px; /* 設定固定寬度 */
}
/* .thirdtitle{
    margin-top:10px;
    margin-bottom:10px; 
    font-weight:bold;
    font-size:15px;
} */
.text img{
    margin-bottom:5px;
    vertical-align:baseline;
    height: 20px; /* 自動調整高度以保持比例 */
    width: 24px; /* 設定固定寬度 */
}
.content{
    flex:1;
    margin-top:5px;
    margin-bottom:20px; 
    margin:20px;
    font-size:15px;
    background: rgba(0, 128, 0, 0.1)
}
